<div class="whole">
  <div class="container">
  <nav class="nav navbar-dark bg-light navbar-expand-sm">
        
           <button class="nav-item" style="float:left;margin-right: 10px;" routerLink="add">Add Customer</button>
         
           <button style="float:left;margin-right: 10px;" routerLink="customers">Customer List</button>

           <button style="float:left;margin-right: 10px;" routerLink="search">Search Customer </button>

           <button style="float:left;margin-right: 10px;" routerLink="update">Update Customer </button>

           <button style="float:left;margin-right: 10px;" routerLink="delete">Delete Customer </button>
  </nav>
</div>
<router-outlet></router-outlet>
</div>
